<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">User registration form</h3>



                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example9">Name</label>
                  <input type="text" id="form3Example9" class="form-control form-control-lg" [(ngModel)]="userObj.name"
                    [ngModelOptions]="{standalone:true}" />

                </div>

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example97">Address</label>
                  <input type="text" id="form3Example97" class="form-control form-control-lg"
                    [(ngModel)]="userObj.address" [ngModelOptions]="{standalone:true}" />

                </div>


                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example97">Email </label>
                  <input type="text" id="form3Example97" class="form-control form-control-lg"
                    [(ngModel)]="userObj.email" [ngModelOptions]="{standalone:true}" />
                </div>

                <div class="row">
                  <div class="col-md-6 ">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="form3Example99">User Name</label>
                      <input type="text" id="form3Example99" class="form-control form-control-lg"
                        [(ngModel)]="userObj.username" [ngModelOptions]="{standalone:true}" />

                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-8 ">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="form3Example99">Password</label>
                      <input type="text" id="form3Example99" class="form-control form-control-lg"
                        [(ngModel)]="userObj.password" [ngModelOptions]="{standalone:true}" />

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 ">
                    <div class="form-outline mb-3">
                      <label class="form-label" for="form3Example99">Re-Type Password</label>
                      <input type="text" id="form3Example99" class="form-control form-control-lg" disabled />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-outline ">
                      <label class="form-label" for="form3Example99">Nic</label>
                      <input type="text" id="form3Example99" class="form-control form-control-lg"
                        [(ngModel)]="userObj.nic" [ngModelOptions]="{standalone:true}" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="country" class="form-label">Country</label>
                  <select class="form-select" id="country" required>
                    <option value="">Choose...</option>
                    <option *ngFor="let country of countryList" (click)="setSelectedCountry(country)">
                      {{country.flag}}
                      {{country.name.common}}</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div><br>

                <div class="col-lg-6">
                  <label for="zip" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="zip" placeholder="Phone number" required
                    [(ngModel)]="selectedCountryCode" [(ngModel)]="userObj.contactNumber"
                    [ngModelOptions]="{standalone:true}">
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-light btn-lg">Reset all</button>
                  <button type="button" (click)="submitForm()" class="btn btn-warning btn-lg ms-2">Submit form</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>